.had-container{
	/* padding: 10px 10px 10px 10px !important */
	padding: 0px 0px 0px 0px !important
}
.bg-red{
	background-color: red;
}
.bg-menu{
	background-color: blue;	
}
.card-bg-color{
	background-color: #f7f2f2;	
}
.w100{
	width: 100px !important;
}
.w150{
	width: 150px !important;
}
.w200{
	width: 200px !important;
}
.pt10{
	padding-top: 10px;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.f100{
	font-size:100px;
}
.centre{
	text-align: center;
}
.nav-wrapper .dropdown-content{
	margin-top: 60px !important;
}
 #dropdown1{
	margin-top: 35px !important;
 }
.dropdown-content li > a > i{
	margin: 0 2px 0 0 !important;
}

@media screen and (max-width: 767px) {
	.indigo-text{
		font-size : 20px !important;
	}
	.aActionContainer{
		margin-top: -40px !important;
	}
}